<?xml version="1.0" ?>
<config>
	<tabs>
		<inchoo module="flickr" translate="label">
			<label>Inchoo</label>
			<sort_order>300</sort_order>
		</inchoo>
	</tabs>
	
	<sections>
        <flickrconfig module="flickr" translate="label">
            <label>Flickr Gallery</label>
			<tab>inchoo</tab>
			
			<sort_order>300</sort_order>
			<show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
			
			<groups>
                <flickrgeneral translate="label">
                    <label>Flickr Gallery Configuration</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					
					<fields>
					
						<apikey translate="label" module="flickr">
							<label>Flick API Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[You can get your Flickr API key form 
								<a href="http://www.flickr.com/services/api/misc.api_keys.html" target="_blank">this</a> 
								page]]>
							</comment>
						</apikey>
						
						<user translate="label" module="flickr">
							<label>User ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[Enter your Flickr User ID. You can get your User ID with this usefull tool at
								<a href="http://idgettr.com/" target="_blank">idgettr.com</a>]]>
							</comment>
						</user>
						
						<photosets translate="label" module="flickr">
							<label>Photosets</label>
							<frontend_type>multiselect</frontend_type>
							<source_model>flickr/photosets</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>List will populate once you enter your User ID.</comment>
						</photosets>
						
					</fields>
					
                </flickrgeneral>
				
				<flickrphotosets translate="label">
                    <label>Photosets</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					
					<fields>
						<photosets_per_page translate="label">
							<label>Photosets Per Page</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>How many photosets per page sould be displayed? Flickr API maximum is 400.</comment>
						</photosets_per_page>
						
						<thumbsize translate="label">
							<label>Thumbnail Size</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[Flickr thumbnail letter suffixes for the desired size.<br /> You can learn more about letter suffixes 
								<a href="http://www.flickr.com/services/api/misc.urls.html" target="_blank">here</a>.<br />
								If left empty suffix "q" will be used.]]>
							</comment>
						</thumbsize>
					</fields>
				</flickrphotosets>
				
				<flickrphotoset translate="label">
                    <label>Photoset</label>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					
					<fields>
						<photos_per_page translate="label">
							<label>Photos Per Page</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>How many photos per page sould be displayed? Flickr APIs Terms of Use limit is 30 photos per page.</comment>
						</photos_per_page>
						
						<thumbsize translate="label">
							<label>Thumbnail Size</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[Flickr thumbnail letter suffixes for the desired size.<br /> You can learn more about letter suffixes 
								<a href="http://www.flickr.com/services/api/misc.urls.html" target="_blank">here</a>.<br />
								If left empty suffix "s" will be used.]]>
							</comment>
						</thumbsize>
						
						<fullsize translate="label">
							<label>Fullsize Image</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[Flickr letter suffixes for the desired size.<br /> You can learn more about letter suffixes 
								<a href="http://www.flickr.com/services/api/misc.urls.html" target="_blank">here</a>.<br />
								If left empty biggest available size will be used.
								]]>
							</comment>
						</fullsize>
						
						<tooltip translate="label">
							<label>Use Tooltip</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[Use tooltip in carousel (uses <a href="http://opentip.org/" target="_blank">Opentip</a>).]]></comment>
						</tooltip>
						
						<tooltip_style translate="label">
							<label>Tooltip Style</label>
							<frontend_type>select</frontend_type>
							<source_model>flickr/photoset_tooltipstyles</source_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><tooltip>1</tooltip></depends>
						</tooltip_style>
						
					</fields>
				</flickrphotoset>
				
				<flickrlightbox translate="label">
					<label>Lightbox</label>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					
					<fields>
						<use_lightbox translate="label">
							<label>Use Lightbox</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Use lightbox effect to open a fullsize image?</comment>
						</use_lightbox>
						
						<image_target translate="label">
							<label>Open image in new tap</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><use_lightbox>0</use_lightbox></depends>
							<comment>If lightbox is turned off this option determines if full size image should be opened in the new browser tab.</comment>
						</image_target>
						
						<include_lightbox translate="label">
							<label>Include Lightbox files</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>If this options is selected Lightbox files will be included. Set to false if you want to use your own Lightbox.</comment>
						</include_lightbox>
						
						<custom_class translate="label">
							<label>Custom Lightbox Link class</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>If you use your own custom lightbox you can specify the css class for the link element here.</comment>
						</custom_class>
					</fields>
				</flickrlightbox>
				
				<flickrcarousel translate="label">
					<label>Carousel</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					
					<fields>
						<duration translate="label">
							<label>Duration</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>The duration of a full jump (in seconds). If left empty "1" will be used.</comment>
						</duration>
						
						<auto translate="label">
							<label>Auto</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>When enabeled the Carousel will move on it's own without needing triggers. Useful for slideshows.</comment>
						</auto>
						
						<frequency translate="label">
							<label>Frequency</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><auto>1</auto></depends>
							<comment>When auto is true, this dictates how long (in seconds) a slide stays put before the next jump. If left empty "3" will be used.</comment>
						</frequency>
						
						<visibleslides translate="label">
							<label>Visible Slides</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Even though multiple slides can be made visible at once by styling, this parameters is needed in some calculations. If left empty "1" will be used.</comment>
						</visibleslides>
						
						<circular translate="label">
							<label>Circular</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>By default when the first/last slide is reached, calling prev/next does nothing. Enable this if you want the effect to continue.</comment>
						</circular>
						
						<wheel translate="label">
							<label>Wheel</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Whether or not to slide when using the mouse wheel over the slides.</comment>
						</wheel>
						
						<transition translate="label">
							<label>Transition Animation</label>
							<frontend_type>select</frontend_type>
							<source_model>flickr/carousel_transition</source_model>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</transition>
						
						<tooltip translate="label">
							<label>Use Tooltip</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[Use tooltip in carousel (uses <a href="http://opentip.org/" target="_blank">Opentip</a>).]]></comment>
						</tooltip>
						
						<tooltip_style translate="label">
							<label>Tooltip Style</label>
							<frontend_type>select</frontend_type>
							<source_model>flickr/carousel_tooltipstyles</source_model>
							<sort_order>90</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><tooltip>1</tooltip></depends>
						</tooltip_style>
						
					</fields>
				</flickrcarousel>
				
				<cache transalet="label">
					<label>Flickr API Response Cache</label>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					
					<fields>
						
						<flush translate="label">
							<label>Flush Cache</label>
							<frontend_type>button</frontend_type>
							<frontend_model>flickr/cache_clear</frontend_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</flush>
						
						<timeout translate="label">
							<label>Cache Expire Time</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Set this value to "0" if you want to disable the cache.</comment>
						</timeout>
						
					</fields>
				</cache>
				
            </groups>
			
        </flickrconfig>
    </sections>
</config>